apiVersion: v1
kind: Service
metadata:
  name: innerpeace-nginx-service
  labels:
    app: innerpeace-nginx
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30001
  selector:
    app: innerpeace-nginx
